{% extends 'lugares_front/base.html' %}

{% block title %}Adicionar Lugar{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-3">Adicionar Lugar</h2>

    <form method="post" class="card p-4 shadow-sm">
        {% csrf_token %}
        <div class="mb-3">
            Sala
            {{ form.salaid }}
        </div>
        <div class="mb-3">
            Fila
            {{ form.fila }}
        </div>
        <div class="mb-3">
            Número
            {{ form.numero }}
        </div>
        <div class="mb-3">
            Tipo
            {{ form.tipolugar }}
        </div>
        <button type="submit" class="btn btn-success">Guardar Lugar</button>
        <a href="{% url 'lista_lugares' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
