{% extends 'classificacoesetarias_front/base.html' %}

{% block title %}Editar Classificação Etária{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2 class="mb-3">Editar Classificação Etária</h2>

        <form method="post" class="card p-4 shadow-sm">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Guardar Classificação</button>
            <a href="{% url 'lista_classificacoesetarias' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
{% endblock %}
